# Ignore data, datasets, and large files
data/*
!data/*.zip
dataset/
# *.zip # Commented out to allow zip if needed, or specific exception

*.tar
*.h5
*.pt

# Python cache and temp files
__pycache__/
*.pyc
*.pyo

# Notebooks checkpoints
.ipynb_checkpoints/

# VS Code and IDE files (optional)
.vscode/
.idea/
